@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
.wrapper {
  display: block;
  position: absolute;
  top: 84%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body a.gumroad-button {
  background-image: none !important;
  background-color: transparent !important;
  padding: 0.75em 2em !important;
  text-align: center !important;
  text-decoration: none !important;
  color: #2194E0 !important;
  border: 2px solid #2194E0 !important;
  font-size: 24px !important;
  display: inline-block !important;
  border-radius: 0.3em !important;
  -webkit-transition: all 0.2s ease-in-out !important;
  transition: all 0.2s ease-in-out !important;
  position: relative !important;
  overflow: hidden !important;
  line-height: inherit !important;
}
body a.gumroad-button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}
body a.gumroad-button:hover {
  background-color: #2194E0 !important;
  color: #fff !important;
  border-bottom: 4px solid #1977b5;
}
body a.gumroad-button:hover:before {
  -webkit-transform: skewX(-45deg) translateX(20.5em);
          transform: skewX(-45deg) translateX(20.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body a.gumroad-button span.gumroad-button-logo {
  background-image: none !important;
  width: 0px !important;
}
